<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Soccer</title>
</head>
<body>
    <h1>Lista de jogadores</h1>

    <button th:if="${botaoConvacacao}" th:text="'Convocação'"></button>

    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Posição</th>
                <th></th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="atleta : ${atletaList}">
                <td th:text="${atleta.nome}">Nome do Jogador</td>
                <td th:text="${{atleta.posicao}}">Posição do Jogador</td>
                <td>
                    <span th:if="${atleta.nivel == 1}">&#x1F534; <span th:text="${atleta.nivel}"></span></span>
                    <span th:if="${atleta.nivel == 2}">&#x1F7E1; <span th:text="${atleta.nivel}"></span></span>
                    <span th:if="${atleta.nivel == 3}">&#x26AB; <span th:text="${atleta.nivel}"></span></span>
                    <span th:if="${atleta.nivel == 4}">&#x1F535; <span th:text="${atleta.nivel}"></span></span>
                    <span th:if="${atleta.nivel == 5}">&#x1F7E2; <span th:text="${atleta.nivel}"></span></span>
                </td>
                <td th:text="${atleta.atletaStatus}">Status do Jogador</td>
            </tr>
        </tbody>
</body>
</html>